@import '../components/bootstrap/less/bootstrap.less';

@import 'login';

body {
  min-height: 2000px;
  padding-top: 70px;
}

.parties {
	&-create {
		max-width: 300px
	}
	
	&-list {
		list-style-type: none;
		padding: 0;
		margin: 0 0 0 -10px;
		text-align: center;

		&-item {
			margin: 0;
			padding: 10px;
			list-style-type: none;

			.btn {
				width: 200px;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			float: left;
		}
	}
}