<div>
	Place a new bet by 
	{{view Ember.Select
			content=currentUsers
			optionLabelPath="content.name"
			value=newBidder
			prompt="Pick A User"
	}}
	for $  
	{{input value=newBidAmount
			placeholder="New Bid"
			maxlength=3
	}}
</div>
<div>
	<button class="btn btn-primary" {{bind-attr disabled=isSubmitDisabled}} {{action 'submitBid'}}> Submit Bid </button>
</div>
