
<div class="jumbotron">
    <h1>{{title}} {{#if amOwner}}<span class="title-link"><a href='javascript:void' {{action 'remove'}}>Remove</a></span>{{/if}}</h1>
    {{guest-add partyId=controllers.party.content.id}}
</div>

{{outlet}}